<div class="container">
    <div class="movie-list">
        <div class="header">
            <h1>Trending</h1>
            <div class="toggle-container">
                <label class="toggle-switch">
                    <input type="checkbox" (change)="toggleView()" [checked]="isDayView">
                    <div class="toggle-slider">
                        <span class="toggle-knob"></span>
                        <span class="toggle-text left">Day</span>
                        <span class="toggle-text right">Week</span>
                    </div>
                </label>
            </div>
        </div>
        <button class="scroll-button left" (click)="scrollLeft()">❮</button>
        <button class="scroll-button right" (click)="scrollRight()">❯</button>
        <div class="movieContainer" #movieContainer>
            <div class="movie-card" 
                 #firstMovieCard 
                 *ngFor="let item of combinedContent" 
                 (click)="goToDetails(item)">
                
                <img class="poster" 
                     [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path" 
                     alt="{{ item.title || item.name }} poster">
                
                <div class="movie-info">
                    <h1>{{ item.title || item.name }}</h1>
                    <p class="release_date">
                        {{ (item.release_date || item.first_air_date) | date: 'd MMM yyyy' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>