<nav class="navbar">
    <div class="navbar-container">
      <button class="button" data-text="Awesome" (click)="goToHome()">
        <span class="actual-text">&nbsp;title&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;title&nbsp;</span>
    </button>
      <ul class="navbar-links" [class.active]="isMobileMenuOpen">
        <li (click)="goToMovies()"><a>Movies</a></li>
        <li (click)="goToTVSeries()"><a>TV Series</a></li>
        <li (click)="goToGenres()"><a>Genres</a></li>
        <li (click)="goToActors()"><a>Actors</a></li>
      </ul>
      <div class="navbar-search">
        <input 
          type="text" 
          placeholder="Search..." 
          aria-label="Search"
          [(ngModel)]="searchQuery"
          (input)="onSearchInput()"
          (focus)="showResults = true"
          (blur)="closeSearchResults()"
        >
        <button (click)="onSearchInput()">
          <i class="fas fa-search"></i>
        </button>
      
        <div class="search-results" *ngIf="showResults && searchResults.length">
          <div 
            class="search-result-item" 
            *ngFor="let result of searchResults"
            (mousedown)="navigateToResult(result)"
          >
            <img [src]="result.poster_path || result.profile_path ? 
                      'https://image.tmdb.org/t/p/w92' + (result.poster_path || result.profile_path) : 
                      ''"
                 alt="{{ result.title || result.name }}">
            <div class="result-info">
              <h4>{{ result.title || result.name }}</h4>
              <span class="media-type">
                {{ 
                  result.media_type === 'movie' ? 'Movie' :
                  result.media_type === 'tv' ? 'TV Show' :
                  'Actor'
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <button class="navbar-toggle" (click)="toggleMobileMenu()" aria-label="Toggle Navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
  