<div class="container">
    <button class="back-button" (click)="goBack()">Back</button>
    <div *ngIf="movie">
        <img class="backdrop" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path">

        <div class="movie-header">
            <img class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">

            <div class="movie-info">
                <h1>{{movie.title}}</h1>

                <div *ngIf="trailerUrl">
                    <a class="trailer-link" [href]="trailerUrl" target="_blank"><i class="fas fa-film"></i> Watch Trailer</a>
                </div>

                <div class="movie-stats">
                    <p title="Release Date">📅 {{ movie.release_date | date:'d MMM yyyy' }}</p>
                    <p title="Rating">⭐ {{ movie.vote_average }}</p>
                    <p title="Runtime">⏳ {{ formatRuntime(movie.runtime) }}</p>
                </div>

                <div class="movie-details">
                    <p><strong>Overview:</strong> {{ movie.overview }}</p>
                    <p>
                        <strong>Genres:</strong>
                        <span *ngFor="let genre of movie.genres; let i = index">
                            {{ genre.name }}<span *ngIf="i < movie.genres.length - 1">, </span>
                        </span>
                    </p>
                </div>

                <div class="movie-stats">
                    <p title="Budget">💰 {{ movie.budget | currency:'USD':'symbol':'1.0-0' }}</p>
                    <p title="Revenue">💵 {{ movie.revenue | currency:'USD':'symbol':'1.0-0' }}</p>
                </div>
            </div>
        </div>

        <div class="cast-container">
            <h1>🌟 Cast</h1>
            <div class="cast-list">
                <div *ngFor="let actor of cast | slice:0:6" class="actor-card">
                    <div class="actor-image">
                        <img [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w200' + actor.profile_path : 'assets/no-image.jpg'"
                             alt="{{ actor.name }}">
                    </div>                                      
                    <h1>{{ actor.name }}</h1>
                    <p>{{ actor.character }}</p>
                </div>
                <button *ngIf="cast.length > 6" (click)="viewFullCast(movie.id, movie.title)">View More</button>
            </div>
        </div>
    </div>