<div class="container">
    <button class="back-button" (click)="goBack()">Back</button>
    <div *ngIf="media">
        <img class="backdrop" [src]="'https://image.tmdb.org/t/p/w500' + media.backdrop_path">

        <div class="movie-header">
            <img class="poster" [src]="'https://image.tmdb.org/t/p/w500' + media.poster_path">

            <div class="movie-info">
                <h1>{{ title }}</h1>

                <div *ngIf="trailerUrl">
                    <a class="trailer-link" [href]="trailerUrl" target="_blank">
                        <i class="fas fa-film"></i> Watch Trailer
                    </a>
                </div>

                <div class="movie-stats">
                    <p title="Release Date">📅 {{ releaseDate | date:'d MMM yyyy' }}</p>
                    <p title="Rating">⭐ {{ media.vote_average | number: '1.1-1' }}</p>
                    <p *ngIf="mediaType === 'movie'" title="Runtime">⏳ {{ formatRuntime(runtime) }}</p>
                    <p *ngIf="mediaType === 'tv'" title="Episodes">📺 {{ media.number_of_episodes }} Episodes</p>
                </div>
                <div class="networks-container" *ngIf="media?.networks?.length">
                    <h2>📺 Networks</h2>
                    <div class="network-list">
                        <div class="network-item" *ngFor="let network of media.networks">
                            <img [src]="network.logo_path ? 'https://image.tmdb.org/t/p/w200' + network.logo_path : 'assets/no-image.jpg'"
                                alt="{{ network.name }} logo" class="network-logo">
                        </div>
                    </div>
                </div>
                <div class="movie-details">
                    <p><strong>Overview:</strong> {{ media.overview }}</p>
                    <p>
                        <strong>{{ mediaType === 'movie' ? 'Genres' : 'Categories' }}:</strong>
                        <span *ngFor="let genre of media.genres; let i = index">
                            {{ genre.name }}<span *ngIf="i < media.genres.length - 1">, </span>
                        </span>
                    </p>
                    <p *ngIf="mediaType === 'tv' && creators">
                        <strong>Creators:</strong> {{ creators }}
                    </p>
                </div>

                <div class="movie-stats" *ngIf="mediaType === 'movie'">
                    <p title="Budget">💰 {{ media.budget | currency:'USD':'symbol':'1.0-0' }}</p>
                    <p title="Revenue">💵 {{ media.revenue | currency:'USD':'symbol':'1.0-0' }}</p>
                </div>
            </div>
        </div>

        <div class="cast-container">
            <h1>🌟 Cast</h1>
            <div class="cast-list">
                <div *ngFor="let actor of cast | slice:0:6" class="actor-card">
                    <div class="actor-image">
                        <img [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w200' + actor.profile_path : 'assets/no-image.jpg'"
                            alt="{{ actor.name }}">
                    </div>
                    <h1>{{ actor.name }}</h1>
                    <p>{{ actor.character }}</p>
                </div>
                <button *ngIf="cast.length > 6" (click)="viewFullCast()">View More</button>
            </div>
        </div>
    </div>
</div>